<?xml version="1.0" encoding="UTF-8" ?>
<Configuration name="ChatServer">
    <Appenders>
        <RollingFile name="ChatServerInfoLog" fileName="logs\chatServerInfo.log"
                     filePattern="logs\chatServerInfo-%i.log">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Filters>
                <LevelRangeFilter minLevel="INFO" maxLevel="INFO" onMatch="ACCEPT"/>
            </Filters>
            <Policies>
                <SizeBasedTriggeringPolicy size="1KB"/>
            </Policies>
            <DefaultRolloverStrategy min="1" max="10"/>
        </RollingFile>
        <RollingFile name="ChatServerErrorLog" fileName="logs\chatServerError.log"
                     filePattern="logs\chatServerError-%i.log">
            <PatternLayout>
                <Pattern>%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n</Pattern>
            </PatternLayout>
            <Filters>
                <LevelRangeFilter minLevel="ERROR" maxLevel="ERROR" onMatch="ACCEPT"/>
            </Filters>
            <Policies>
                <SizeBasedTriggeringPolicy size="1KB"/>
            </Policies>
            <DefaultRolloverStrategy min="1" max="10"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="ChatServerInfoLog"/>
            <AppenderRef ref="ChatServerErrorLog"/>
        </Root>
    </Loggers>
</Configuration>
